nodered/iudx.json
[{"id":"aad177f0.34c708","type":"python3-function","z":"abc0ba3a.abb4d8","name":"List Tags","func":"from iudx_client.client import Cat\n\nc = Cat(\"https://catalogue.iudx.org.in/cat/search\")\nmsg[\"payload\"] = c.getTags()\nreturn msg\n\n\n","outputs":1,"x":440,"y":360,"wires":[["f5004892.601a78"]],"info":"List all tags (i.e the different sensor resources\n which are registered on IUDX)\nJust trigger the node to activate\n\n Input\n>  <Trigger>\n\nOutput\n>  [tag1, tag2, ...]"},{"id":"c46ad514.700728","type":"inject","z":"abc0ba3a.abb4d8","name":"Tags","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":360,"wires":[["aad177f0.34c708"]]},{"id":"85c21cc2.f4836","type":"inject","z":"abc0ba3a.abb4d8","name":"Tags","topic":"tags","payload":"{\"tags\":[\"flood\",\"environment\"]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":480,"wires":[["e831655f.850578"]],"info":"Pass on a query with desired tags as a json message.\nE.g,\n{\"tags\":[\"flood\",\"environment\"]}"},{"id":"67851dbc.c19de4","type":"inject","z":"abc0ba3a.abb4d8","name":"Tags and Location","topic":"tags","payload":"{\"tags\":[\"flood\",\"environment\"],\"location\":{\"lat\":18.528311,\"long\":73.874537,\"radius\":3}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":600,"wires":[["582621d1.12035"]],"info":"Pass a json message with tags and location\n\n> {\"tags\":[\"flood\",\"environment\"],\"location\":{\"lat\":18.528311,\"long\":73.874537,\"radius\":3}}"},{"id":"53c9eb1.57cca14","type":"inject","z":"abc0ba3a.abb4d8","name":"Tags, Location and Filter","topic":"tags","payload":"{\"tags\":[\"flood\"],\"location\":{\"lat\":18.528311,\"long\":73.874537,\"radius\":3},\"filters\":[\"id\",\"NAME\"]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":740,"wires":[["ef0bea44.0b6878"]],"info":"Pass a json message with tags, location and an attribute filter.\n> {\"tags\":[\"flood\"],\"location\":{\"lat\":18.528311,\"long\":73.874537,\"radius\":3},\"filters\":[\"id\",\"NAME\"]}"},{"id":"e56eeb23.dcaa38","type":"python3-function","z":"abc0ba3a.abb4d8","name":"Get data from items","func":"from iudx_client.client import Cat\nimport sys\n\nitems = msg[\"payload\"]\n\nc = Cat(\"https://catalogue.iudx.org.in/cat/search\")\n\nmsg[\"payload\"] = c.getLatestDataFromItems(items)\n\nreturn msg\n","outputs":1,"x":770,"y":840,"wires":[["f5004892.601a78"]],"info":"Get's the latest resource data for all items\nthat are part of an array.\n\nInput - \n> [item1, item2, .... ]\n\nOutput - \n> [{\"id\":\"id1\", \"data\":{<data of id1>}, ...]"},{"id":"f5004892.601a78","type":"debug","z":"abc0ba3a.abb4d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":990,"y":600,"wires":[]},{"id":"ef0bea44.0b6878","type":"python3-function","z":"abc0ba3a.abb4d8","name":"Query","func":"from iudx_client.client import Cat\n\n\ntags = msg[\"payload\"][\"tags\"] if \"tags\" in msg[\"payload\"] else None\nlocation = msg[\"payload\"][\"location\"] if \"location\" in msg[\"payload\"] else None \nfilters = msg[\"payload\"][\"filters\"] if \"filters\" in msg[\"payload\"] else None \n\n\n\nc = Cat(\"https://catalogue.iudx.org.in/cat/search\")\nl = c.getItems(attributes={\"tags\":tags}, location=location, filters=filters)\nmsg[\"payload\"] = l\n\nreturn msg\n","outputs":1,"x":430,"y":740,"wires":[["f5004892.601a78"]],"info":"Generic query node. \nOne can pass any IUDX-catalogue attribute as a search\nparameter, geo-location with lat-lon-radius, and filter\nto get only select IUDX-catalogue attributes.\n\nInput -\n> {\n    \"tags\": [\n        \"flood\"\n    ],\n    \"location\": {\n        \"lat\": 18.528311,\n        \"long\": 73.874537,\n        \"radius\": 3\n    },\n    \"filters\": [\n        \"id\",\n        \"NAME\"\n    ]\n}\n\nOutput -\n>  [item1, item2 ... ]"},{"id":"582621d1.12035","type":"python3-function","z":"abc0ba3a.abb4d8","name":"Query","func":"from iudx_client.client import Cat\n\n\ntags = msg[\"payload\"][\"tags\"] if \"tags\" in msg[\"payload\"] else None\nlocation = msg[\"payload\"][\"location\"] if \"location\" in msg[\"payload\"] else None \nfilters = msg[\"payload\"][\"filters\"] if \"filters\" in msg[\"payload\"] else None \n\n\n\nc = Cat(\"https://catalogue.iudx.org.in/cat/search\")\nl = c.getItems(attributes={\"tags\":tags}, location=location, filters=filters)\nmsg[\"payload\"] = l\n\nreturn msg\n","outputs":1,"x":430,"y":600,"wires":[["f5004892.601a78"]],"info":"Generic query node. \nOne can pass any IUDX-catalogue attribute as a search\nparameter, geo-location with lat-lon-radius, and filter\nto get only select IUDX-catalogue attributes.\n\nInput -\n> {\n    \"tags\": [\n        \"flood\"\n    ],\n    \"location\": {\n        \"lat\": 18.528311,\n        \"long\": 73.874537,\n        \"radius\": 3\n    },\n    \"filters\": [\n        \"id\",\n        \"NAME\"\n    ]\n}\n\nOutput -\n>  [item1, item2 ... ]"},{"id":"e831655f.850578","type":"python3-function","z":"abc0ba3a.abb4d8","name":"Query","func":"from iudx_client.client import Cat\n\n\ntags = msg[\"payload\"][\"tags\"] if \"tags\" in msg[\"payload\"] else None\nlocation = msg[\"payload\"][\"location\"] if \"location\" in msg[\"payload\"] else None \nfilters = msg[\"payload\"][\"filters\"] if \"filters\" in msg[\"payload\"] else None \n\n\n\nc = Cat(\"https://catalogue.iudx.org.in/cat/search\")\nl = c.getItems(attributes={\"tags\":tags}, location=location, filters=filters)\nmsg[\"payload\"] = l\n\nreturn msg\n","outputs":1,"x":430,"y":480,"wires":[["f5004892.601a78"]],"info":"Generic query node. \nOne can pass any IUDX-catalogue attribute as a search\nparameter, geo-location with lat-lon-radius, and filter\nto get only select IUDX-catalogue attributes.\n\nInput -\n> {\n    \"tags\": [\n        \"flood\"\n    ],\n    \"location\": {\n        \"lat\": 18.528311,\n        \"long\": 73.874537,\n        \"radius\": 3\n    },\n    \"filters\": [\n        \"id\",\n        \"NAME\"\n    ]\n}\n\nOutput -\n>  [item1, item2 ... ]"},{"id":"19b46153.5ff99f","type":"python3-function","z":"abc0ba3a.abb4d8","name":"Query","func":"from iudx_client.client import Cat\n\n\ntags = msg[\"payload\"][\"tags\"] if \"tags\" in msg[\"payload\"] else None\nlocation = msg[\"payload\"][\"location\"] if \"location\" in msg[\"payload\"] else None \nfilters = msg[\"payload\"][\"filters\"] if \"filters\" in msg[\"payload\"] else None \n\n\n\nc = Cat(\"https://catalogue.iudx.org.in/cat/search\")\nl = c.getItems(attributes={\"tags\":tags}, location=location, filters=filters)\nmsg[\"payload\"] = l\n\nreturn msg\n","outputs":1,"x":430,"y":840,"wires":[["e56eeb23.dcaa38"]],"info":"Generic query node. \nOne can pass any IUDX-catalogue attribute as a search\nparameter, geo-location with lat-lon-radius, and filter\nto get only select IUDX-catalogue attributes.\n\nInput -\n> {\n    \"tags\": [\n        \"flood\"\n    ],\n    \"location\": {\n        \"lat\": 18.528311,\n        \"long\": 73.874537,\n        \"radius\": 3\n    },\n    \"filters\": [\n        \"id\",\n        \"NAME\"\n    ]\n}\n\nOutput -\n>  [item1, item2 ... ]"},{"id":"5fd7c956.f72b18","type":"inject","z":"abc0ba3a.abb4d8","name":"Tags and Location","topic":"tags","payload":"{\"tags\":[\"flood\",\"environment\"],\"location\":{\"lat\":18.528311,\"long\":73.874537,\"radius\":3}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":840,"wires":[["19b46153.5ff99f"]],"info":"Pass a json message with tags and location\n\n> {\"tags\":[\"flood\",\"environment\"],\"location\":{\"lat\":18.528311,\"long\":73.874537,\"radius\":3}}"}]